<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="com.google.android.gms.permission.AD_ID"-->
<!--        tools:ignore="AdvertisingIdPolicy" />-->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- android:dataExtractionRules :: Android 12+ 에서 앱 데이터 추출 규칙을 정의합니다. -->
    <!-- android:fullBackupContent :: Android 11 이하에서 전체 백업 규칙을 정의합니다. -->
    <!-- android:allowBackup :: 앱의 자동 백업 허용 여부. false로 비활성화합니다. -->
    <application
        android:name=".LifeLogApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.LifeLog"
        tools:targetApi="31">

        <!-- ca-app-pub-7199100284916551~1405656988 -->
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7199100284916551~1405656988"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LifeLog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rmtm.lifelog.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Hilt/WorkManager 통합을 위한 Initializer 비활성화 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>
</manifest>
